:root {
  --c-brand: #2486b9 !important;
  --code-c-line-number: #8b949e;
}

[data-theme='dark'] {
  --code-c-line-number: #6e7681;
}

pre[class*="language-"]::before {
  content: '';
  height: 10px;
  width: 10px;
  position: absolute;
  top: 12px;
  left: 1.5rem;
  border-radius: 50%;
  background: #b300eb;
  box-shadow: 1.1rem 0 0 0 #fcd019, 2.2rem 0 0 0 #ff4742;
  z-index: 3;
}

.theme-default-content pre,
.theme-default-content pre[class*="language-"] {
  padding: 1.8rem 1.5rem 1.25rem;
}

div[class*="language-"] {
  max-height: 32rem;
  overflow-y: auto;
}

div[class*="language-"]::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

div[class*="language-"]::-webkit-scrollbar-thumb {
  background: rgba(127, 127, 127, 0.3);
  border-radius: 3px;
}

div[class*="language-"]::-webkit-scrollbar-thumb:hover {
  background: rgba(127, 127, 127, 0.5);
}

div[class*="language-"]::-webkit-scrollbar-track {
  background: transparent;
}

div[class*="language-"].line-numbers-mode::after {
  border-right-color: rgba(127, 127, 127, 0.15) !important;
}

#app {

  .home .hero img {
    border-radius: 1rem;
  }

  .navbar .logo {
    border-radius: 4px;
  }

  .page {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAACFJREFUeNpiZGBg4GegAsBlCD8TqSYNQg2Mo6FEBAAIMACdPABtrSW/IQAAAABJRU5ErkJggg==");
    background-repeat: repeat;
    background-attachment: fixed;
    min-height: 100vh;

    .page-nav .inner {
      border-top: 1px solid var(--c-text-accent);
    }
  }

  a.sidebar-item.active {
    background: linear-gradient(90deg, var(--c-text-accent), transparent 18%);
  }

  .sidebar-sub-headers a.sidebar-item.active {
    background: linear-gradient(90deg, var(--c-text-accent), transparent 18%);
  }
}
